@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    template {
        @apply hidden;
    }
}

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    div.striped > div > div:nth-of-type(even) {
        @apply bg-sky-100
    }


}